---
import Navigation from '../components/Navigation.astro';
import AboutMe from '../components/AboutMe.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import WorkExperience from '../components/WorkExperience.astro';
import Projects from '../components/Projects.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
---

<head>
  <meta charset="UTF-8" />
  <title>Mi Página Web</title>
</head>

<main>
    <!-- Navegación -->
    <Navigation />

    <!-- Sobre mí -->
    <AboutMe />

    <!-- Educación -->
    <Education />

    <!-- Habilidades -->
    <Skills />

    <!-- Experiencia Laboral -->
    <WorkExperience />

    <!-- Proyectos -->
    <Projects />

    <!-- Sección de Contacto -->
    <ContactSection />

    <!-- Pie de página -->
    <Footer />
</main>
