---
import ProjectsReact from "../components/ProjectsReact";
---

<section id="proyectos" class="py-12 bg-gray-100 px-10">
  <div class="trabajo-titulo flex items-center mb-10">
    <img src="./public/maletin.png" alt="Icono Técnico" class="w-12 h-12 mr-4">
    <h2 class="text-4xl font-bold text-gray-800">Projects</h2>
  </div>

  <!-- Renderizar el componente React -->
  <ProjectsReact client:only="react" />
</section>
